.table-style 
{
    margin: auto;

    border: 2px solid black;
    font-family: var(--text-font);

    /**/
    margin-top: 4rem !important;
}

td:first-child, th:first-child
{
    background-color: var(--color-pink);
    color: white;
    font-weight: bold;
}

tr:first-child
{
    background-color: var(--color-pink);
    color: white;
}

tr > td, th
{
    padding: 4px 10px; 
    text-align: center;
    border: 1px solid black !important;
}

td
{
    padding: 4px 10px; 
}


td:first-child, th:first-child
{
    background-color: var(--color-pink);
    color: white;
    font-weight: bold;
}

tr:first-child
{
    background-color: var(--color-pink);
    color: white;
}

tr > td, th
{
    padding: 4px 10px; 
    text-align: center;
    border: 1px solid black !important;
}

td
{
    padding: 4px 10px; 
    border: 1px solid black !important;
    text-align: center;
}