nav
{
    display: flex;
    gap: 20px;

    width: fit-content !important;
    font-family: var(--title-font);

    /**/
    margin: 0 auto 1rem auto;
    font-size: 1.1rem;    
}

nav > a 
{
    color: var(--color-pink);

    padding: 10px;
    
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.2rem;

    min-width: fit-content;
    width: 10rem;
    
    text-decoration: none;
    text-align: center;

    transition: .5s;
}

nav > a:hover
{
    border-color: var(--color-pink);
}